@font-face {
    font-family: "PTSansRegular";
    src: url("../../fonts/PTSans/PTSansRegular.eot");
    src: url("../../fonts/PTSans/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/PTSans/PTSansRegular.woff") format("woff"),
    url("../../fonts/PTSans/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SegoeUI';
    src: url("../../fonts/SegoeUI/SegoeUI.eot");
    src: url("../../fonts/SegoeUI/SegoeUI.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/SegoeUI/SegoeUI.woff") format("woff"),
    url("../../fonts/SegoeUI/SegoeUI.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}
