// fonts
$font-pt-sans: 'PTSansRegular';
$font-segoe-ui: 'SegoeUI';
$font-size: 1rem;
$color-body-default: #404040;
$letter-spacing-6: 0.06em;
$letter-spacing-5: 0.05em;
$letter-spacing-4: 0.04em;
$letter-spacing-2: 0.02em;
$letter-spacing-3: 0.03em;

// color placeholder
$color-placeholder: #8D8D8D;

//colors
$bg-color: #E5E5E5;
$bg-top-bar: #FC8507;
$bg-sub-header: #0075D2;
$color-text-top-bar: #FFFFFF;

// footer colors variables
$bg-footer-top: #0075D2;
$color-footer-title: #FFFFFF;

// btn-active
$color-btn-active: white;
$bg-color-btn-active: #FC8507;
$bg-color-btn-active-hover: #FFA341;

// btn-outline
$color-btn-outline: #FC8507;
$color-btn-outline-hover: white;
$color-border-btn-outline: #FC8507;
$bg-color-btn-outline: white;
$bg-color-btn-outline-hover: #FC8507;

// homepage-top-grid__menu
$bg-homepage-top-grid-menu: #ffffff;
$color-homepage-top-grid-menu: #282828;

// page-nav-buttons
$bg-page-nav-button-active: #0075D2;
$bg-page-nav-button: #fff;
$color-page-nav-button: #404040;
$color-page-nav-button-active: #fff;

// About page
$bg-about-statistic: #fff;
$color-statistic-sum: #0075D2;
$color-span: #404040;

// Page contacts
$bg-contact: #0075D2;
$color-contact: #fff;
$link-email-contact: #FFB015;

// Providers page
$bg-providers-info-block: #fff;
$color-providers: #404040;

// Requisites page
$bg-requisites: #fff;
$color-requisites: #404040;
$border-requisites: #ccc;

// Paginator
$paginator-active: #FC8507;
$bg-paginator-page-item: #F2F2F2;
$color-paginator: #7A7A7A;

// Card
$bg-card: #fff;
$color-card: #282828;
$color-card-hover: #0075D2;
$color-card-price: #FC8507;
$color-card-old-price: #8A8A8A;
$bg-card-icon-active: #FC8507;

// Tabs border
$border-tab-active-bottom: #282828;
$color-tabs-nav: #282828;

// sub header right icons
$bg-color-icon-active: #FC8507;

//Glider dots
$bg-dot: #CCC;
$bg-dot-active: #FC8507;

// Radio inputs order page
$bg-input-radio: #FC8507;

// Datepicker
$dp-cell-selected-background-color: #0075D2 !default;
$dp-font-size-normal: 0.875rem;



