.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    @include mq($min-width: 767px) {
        .breadcrumb-item {
            font-size: 0.875rem;
            line-height: 1rem;
            letter-spacing: 0.02em;

            .link {
                color: inherit;
                transition: color .3s;

                &:hover {
                    color: #0075d2;
                }
            }

            + .breadcrumb-item::before {
                padding: 0 .5rem;
                color: #6c757d;
                content: "/";
            }

            &.active {
                color: #0075d2;
            }
        }
    }
    @include mq($max-width: 767px) {
        gap: 15px;
        .breadcrumb-item {
            padding: 10px;
            border-radius: 4px;
            background: #fff;
            font-size: 0.875rem;
            line-height: 1rem;
            letter-spacing: 0.02em;
            box-shadow: 0 2px 12px rgba(201, 201, 201, 0.82);

            .link {
                color: inherit;
                transition: color .3s;

                &:hover {
                    color: #0075d2;
                }
            }

            &.active {
                color: #0075d2;
            }
        }
    }
}
