.bottom-navbar-mobile {
    background: $bg-footer-top;
    left: 0;
    right: 0;
    padding: 20px 15px 10px 15px;
    bottom: 0;
    position: fixed;
    z-index: 2;

    .sub-header__right {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        a {
            position: relative;
            display: flex;
            column-gap: 10px;
            &:not(:nth-of-type(3)) {
                .sub-header__label {
                    display: none;
                }
            }
            .cart-total-sum{
                align-self: flex-end;
            }
        }
    }

    @include mq($min-width: 767px) {
        display: none;
    }

}
