.paginator-wrap {
    margin-top: 40px;

    .pagination {
        float: right;
        display: inline-flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        .page-item {
            //display: inline-block;
            background: $bg-paginator-page-item;
            border: 1px solid $color-paginator;
            width: 30px;
            height: 30px;

            &:not(:last-child) {
                margin-right: 12px;
            }

            &.active {
                background-color: $paginator-active;
                border: 1px solid $paginator-active;

                .page-link {
                    color: white;
                }
            }

            .page-link {
                color: $color-paginator;
                text-decoration: none;
                line-height: 1.9;
                transition: background-color .3s;
                display: block;
                text-align: center;
            }
        }
    }
}
