.form-label {
    label {
        position: absolute;
        font-size: 0.875rem;
        line-height: 1.2;
        left: 16px;
        //top: calc((100% - 1.2rem) / 2);
        top: 18px;
        letter-spacing: $letter-spacing-6;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease-in-out;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="password"] {
        height: 53px;
        // text-indent: 1rem;
        // &:valid + label,
        &[data-empty="false"] + label,
        &:focus + label {
            font-size: 0.75rem;
            line-height: 1.2;
            letter-spacing: $letter-spacing-6;
            color: #8D8D8D;
            transform: translate3d(0, -10px, 0);
        }
    }
}
