%customFontsStyle {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: $letter-spacing-4;
    color: $color-providers;
}

#providers {
    padding-bottom: 40px;
    .providers {
        &__primary-info-block {
            @extend %customFontsStyle;
            max-width: 612px;
            padding: 50px;
            background: $bg-providers-info-block;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
        }
    }

    .guarantee {
        margin-top: 40px;
        @include guaranteeBlock;

        .row {
            flex-flow: row;
            column-gap: 40px;
            row-gap: 20px;
            @include mq($max-width: "767px") {
                flex-wrap: wrap;
            }
        }
    }
}
