#reset-password, #request-password {
    background: #ffffff;
    padding: 40px 0;

    .reset-password, .request-password {
        min-width: 50%;
        @include mq($max-width: "767px") {
            min-width: 100%;
        }
    }
}
