%main {
    background: #ffffff;
    padding: 40px 0;
}

#admin-users {
    @extend %main;
}

#admin-create-user {
    @extend %main;

    .create-user-form {
        max-width: 50%;
    }
}

.admin-edit-user {
    @extend %main;

    .nav-button {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        > form, button {
            //flex-basis: 20%;
        }
    }

    .table {
        margin-top: 30px;
    }
}
